.grid-item-image{
    width: 125px;
    height: 180px;
}

.grid-item-text{
    color: #474747;
    font-weight: 600;
    font-size: 12px;
}


.game-support-see-more-button{
    background-color: #ffffff;
    color: #0D1042;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    padding: 1px 6px;
}



@media (min-width: 1024px) {
    .game-support-container{
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .game-support-input-filter{
        display: flex;
    }
    
    .game-support-input{
        width: 413px;
        height: 50px;
        border: 1px solid gray;
        color: gray;
    }
    
    .game-support-filter-container{
        display: flex;
        margin-left: 300px;
    }
    
    .game-support-filter-text{
        padding-top: 15px;
        color: #737373;
        font-weight: 900;
    }
    
    .game-support-filter-dropdown{
        margin-left: 5px;
        width: 192px;
        height: 38px;
        margin-top: 6px;
    }

    .grid-item-image{
        width: 158px;
        height: 222px;
    }
    
    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        margin-top: 20px;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-right: 25px
    }

    .grid-item-text{
        padding-left: 50px;
    }
    
    .game-support-see-more-button{
        width: 121px;
        height: 48px;
    }

    .game-support-see-more-button-container{
        padding-left: 41.5%;
    }
    

}


@media (min-width: 768px) and (max-width: 1023px) {
    .game-support-container{
        margin-top: 40px;
        margin-left: 10px;
    }
    
    .game-support-input{
        width: 713px;
        height: 50px;
        border: 1px solid gray;
        color: gray;
    }
    
    .game-support-filter-container{
        display: flex;
        margin-left: 0px;
    }
    
    .game-support-filter-text{
        padding-top: 15px;
        color: #737373;
        font-weight: 900;
    }
    
    .game-support-filter-dropdown{
        margin-left: 5px;
        width: 200px;
        height: 40px;
        margin-top: 6px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;
        margin-left: 50px;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-right: 25px;
    }
    
    .grid-item-text{
        padding-left: 35px;
    }

    .game-support-see-more-button{
        width: 121px;
        height: 48px;
    }

    .game-support-see-more-button-container{
        padding-left: 38%;
    }
    
    
}

@media (min-width: 425px) and (max-width: 767px) {
    .game-support-container{
        margin-top: 40px;
    }
    
    .game-support-input{
        width: 387px;
        height: 50px;
        border: 1px solid gray;
        color: gray;
    }
    
    .game-support-filter-container{
        display: flex;
        margin-left: 0px;
    }
    
    .game-support-filter-text{
        padding-top: 15px;
        color: #737373;
        font-weight: 900;
    }
    
    .game-support-filter-dropdown{
        margin-left: 5px;
        width: 200px;
        height: 40px;
        margin-top: 6px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 50px;
        margin-left: 20px;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-right: 25px;
    }

    .grid-item-text{
        padding-left: 35px;
    }

    .game-support-see-more-button{
        width: 393px;
        height: 48px;
    }
    
    
}

@media (min-width: 375px) and (max-width: 424px) {
    .game-support-container{
        margin-top: 40px;
    }
    
    .game-support-input{
        width: 339px;
        height: 50px;
        border: 1px solid gray;
        color: gray;
    }
    
    .game-support-filter-container{
        display: flex;
        margin-left: 0px;
    }
    
    .game-support-filter-text{
        padding-top: 15px;
        color: #737373;
        font-weight: 900;
    }
    
    .game-support-filter-dropdown{
        margin-left: 5px;
        width: 200px;
        height: 40px;
        margin-top: 6px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 50px;
        margin-left: 15px;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
    .grid-item-text{
        padding-left: 35px;
    }
    
    .game-support-see-more-button{
        width: 343px;
        height: 48px;
    }
    
}

@media (min-width: 320px) and (max-width: 374px) {
    .game-support-container{
        margin-top: 40px;
    }
    
    .game-support-input{
        width: 287px;
        height: 50px;
        border: 1px solid gray;
        color: gray;
    }
    
    .game-support-filter-container{
        display: flex;
        margin-left: 0px;
    }
    
    .game-support-filter-text{
        padding-top: 15px;
        color: #737373;
        font-weight: 900;
    }
    
    .game-support-filter-dropdown{
        margin-left: 5px;
        width: 200px;
        height: 40px;
        margin-top: 6px;
    }

    .grid-container{
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 50px;
    }

    .grid-item{
        margin-bottom: 10px;
        margin-right: 20px;
    }
    
    .grid-item-text{
        padding-left: 35px;
    }

    .game-support-see-more-button{
        width: 288px;
        height: 48px;
    }
    
    
}