.homepage-header-container{
    background-image: url("/public/images/homeheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 222px;
    background-position: center;
}

.homepage-header-text{
    color: #ffffff;
    text-align: center;
    padding-top: 70px;
    font-size: 40px;
}