@media (min-width: 1024px) and (max-width: 2440px){

.homepage-header-container{
    height: 220px;
    background-image: url("/public/images/homeheader.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.homepage-header-text{
    background-color: transparent;
    color: #ffffff;
    text-align: center;
    font-size: 45px;
    padding-top: 50px;
}

.game-support-manage-account{  
    left: 420px;
    position: absolute;
    top: 320px;
}


/*conditionally rendering the css*/

.game-support-button, .manage-account-button{
    border: none;
    margin: 10px;
    cursor: pointer;
    font-weight: 900;
}

.active-game-support-button, .active-manage-account-button{
    border: none;
    border-bottom: 4px solid red;
    margin: 10px;
    cursor: pointer;
    font-weight: 900;
    padding-top: 20px;
}

.game-support-button:hover, .manage-account-button:hover{
    border-bottom: 4px solid red;
    cursor: pointer;
    font-weight: 900;
    padding-top: 20px;
}
}

@media (min-width: 320px) and (max-width:375px) {
    .game-support-manage-account{  
        left: 20px;
    }

    
    .homepage-header-text{
        font-size: 27px;
        padding: 50px 20px 0 20px;
    }
}

@media (min-width: 376px) and (max-width:425px) {
    .game-support-manage-account{  
        left: 20px;
    }


    .homepage-header-text{
        font-size: 27px;
        padding: 50px 20px 0 20px;
    }
}


@media (min-width: 426px) and (max-width:768px) {
    .game-support-manage-account{  
        left: 20px;
    }

    
    .homepage-header-text{
        font-size: 32px;
        padding-top: 75px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .homepage-header-container{
        height: 220px;
        width: 180vw;
    }
}