.redeem-code {
  padding: 30px;
}

.redeem-product-code input {
  width: 270px;
  height: 28px;
}

.redeem-product-code button {
  width: 72.36px;
  height: 31px;
  margin-left: 10px;
  background-color: rgb(64, 43, 158);
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
}

.redeem-code-find {
  padding-top: 30px;
}

.redeem-code-find-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}


.redeem-code-find-details img{
    margin-top: 20px;
}