.ban-header {
  background-color: #f3f3f3;
  padding-top: 24px;
}

.ban-history-wrapper {
  background-color: #dbe3f4;
  border-radius: 5px;
}

.ban-history-wrapper a {
  color: black;
}

.ban-history-login-btn {
  width: 80.39px;
  height: 40px;
  background-color: #0059ff;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: bold;
  border-radius: 2px;
}

.ban-history-hr-container {
  display: flex;
  justify-content: center;
}

.ban-learn-more-container p {
  padding-top: 20px;
}

.ban-learn-more-container a {
  text-decoration: none;
}

.ban-learn-more-text {
  display: flex;
}

.ban-learn-more-dot {
  height: 8px;
  width: 8px;
  background-color: black;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 6px;
}

@media screen and (min-width: 1024px) {
  .ban-header {
    margin-top: 40px;
    height: 100px;
    font-size: 20px;
  }

  .ban-header-text-container {
    width: 1156px;
    margin: 0 auto;
  }

  .ban-history-wrapper {
    width: 1156px;
    height: 204px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 20px;
    font-size: 17.5px;
  }

  .ban-history-login {
    width: 1156px;
    height: 74px;
    margin: 30px 0px 0px;
    margin: 40px auto 40px auto;
    font-size: 17.5px;
  }

  .ban-history-hr {
    width: 1156px;
    color: gray;
  }

  .ban-learn-more-container {
    width: 1156px;
    height: 204px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 10px;
    font-size: 17.5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .ban-header {
    margin-top: 80px;
    height: 100px;
    font-size: 20px;
  }

  .ban-header-text-container {
    width: 714.23px;
    margin: 0 auto;
  }

  .ban-history-wrapper {
    width: 714.23px;
    height: 228px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 20px;
    font-size: 17.5px;
  }

  .ban-history-login {
    width: 714.23px;
    height: 74px;
    margin: 30px 0px 0px;
    margin: 40px auto 40px auto;
    font-size: 17.5px;
  }

  .ban-history-hr {
    width: 714.23px;
    color: gray;
  }

  .ban-learn-more-container {
    width: 714.23px;
    height: 158px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 10px;
    font-size: 17.5px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .ban-header {
    margin-top: 30px;
    height: 80px;
    font-size: 12px;
  }

  .ban-header-text-container {
    width: 386.75px;
    margin: 0 auto;
  }

  .ban-history-wrapper {
    width: 386.75px;
    height: 348px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 20px;
    font-size: 17.5px;
  }

  .ban-history-login {
    width: 386.75px;
    height: 98px;
    margin: 30px 0px 0px;
    margin: 40px auto 40px auto;
    font-size: 17.5px;
  }

  .ban-history-hr {
    width: 386.75px;
    color: gray;
  }

  .ban-learn-more-container {
    width: 386.75px;
    height: 148px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 10px;
    font-size: 17.5px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .ban-header {
    margin-top: 30px;
    height: 80px;
    font-size: 12px;
  }

  .ban-header-text-container {
    width: 341.25px;
    margin: 0 auto;
  }

  .ban-history-wrapper {
    width: 341.25px;
    height: 372px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 20px;
    font-size: 17.5px;
  }
  .ban-history-login {
    overflow: hidden;
    width: 341.25px;
    height: 98px;
    margin: 30px 0px 0px;
    margin: 40px auto 40px auto;
    font-size: 17.5px;
  }
  .ban-history-hr {
    width: 341.25px;
    color: gray;
  }

  .ban-learn-more-container {
    width: 341.25px;
    height: 138px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 10px;
    font-size: 17.5px;
  }
}

@media (min-width: 320px) and (max-width: 374px) {
  .ban-header {
    margin-top: 30px;
    height: 80px;
    font-size: 12px;
  }

  .ban-header-text-container {
    width: 291.19px;
    margin: 0 auto;
  }

  .ban-history-wrapper {
    width: 291.19px;
    height: 444px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 20px;
    font-size: 17.5px;
  }

  .ban-history-login {
    overflow: hidden;
    width: 291.19px;
    height: 98px;
    margin: 30px 0px 0px;
    margin: 40px auto 40px auto;
    font-size: 17.5px;
  }

  .ban-history-hr {
    width: 291.19px;
    color: gray;
  }

  .ban-learn-more-container {
    width: 291.19px;
    height: 138px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin: 40px auto 40px auto;
    padding: 10px;
    font-size: 17.5px;
  }
}
