.payment-method-content {
  padding: 30px;
}

.payment-method-content button {
  width: 150px;
  height: 26px;
  border-radius: 5px;
  border: none;
  box-shadow: 0.5px 1px;
  font-weight: bold;
  margin-top: 20px;
}
