.countries-wrapper{
    height: 240px;
    width: 400px;
    background-color: White;
    color: black;
    position: absolute;
    border-radius: 12px;
    padding-left: 20px;
}

.countries-list-item{
    height: 50px;
    padding-top: 12px;
    padding-left: 10px;
    position: relative;
    cursor: pointer;
}


.countries-list-item:hover{
    background-color: rgb(185, 184, 184);
    width: 90%;
    height: 50px;
    border-radius: 5px;
}

.countries-name-code{
    position: absolute;
    top: 15px;
    left: 50px;
}

@media (min-width: 425px) and (max-width: 767px){
    .countries-wrapper{
        height: 240px;
        width: 377px;
    }
    
}

@media (min-width: 375px) and (max-width: 424px){
    .countries-wrapper{
        height: 240px;
        width: 327px;
    }
    
}


@media (min-width: 320px) and (max-width: 374px){
    .countries-wrapper{
        height: 240px;
        width: 272px;
    }

    .countries-list-item{
        padding-left: 0px;
    }

    .countries-name-code{
        left: 40px;
    }
    
}